body {
  background-image: url("/assets/pokemon-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  background-color: white;
  border: 2px solid #555;
  box-shadow: #555;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 30px 30px 30px rgba(24, 24, 24, 0.5);
  margin: 300px auto 0;
}

.square .pika {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border: 2px solid #555;
  margin-left: auto;
  margin-right: auto;
}
.square .pika h1,
.square .pika p {
  margin: 0;
}
